@model IEnumerable<Asistencia.Models.Asistente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("Nombre")
                </th>
                <th>
                    @Html.Label("Cargo")
                </th>
                <th>
                    @Html.Label("Sección")
                </th>
                <th>
                    @Html.Label("Documento")
                </th>
                <th>
                    @Html.Label("Tema")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.strNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strCargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strSeccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.strTema)
                </td>
                <td>
                    @*@Html.ActionLink("Editar", "Edit", new { id = item.IntIdAsistente }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.IntIdAsistente })*@
                    <input type="button" value="Eliminar" onclick="deletemessage(@item.IntIdAsistente)" data-model-id="@item.IntIdAsistente" class="btn btn-primary btn-sm" />
                </td>
            </tr>
        }
    </table>

</div>
<div class="form-group">
    <input type="button" value="Volver" onclick="location.href='@Url.Action("Index","Eventos")'" class="btn btn-default" />

</div>
<script>
    function deletemessage(idp) {
        Swal.fire({
            title: 'Desea eliminar este registro?',
            text: "Esta acción es definitva y no se puede revertir",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText:'Cancelar',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si'
        }).then((result) => {
            if (result.value) {
                var id = idp;
                var token = $('input[name="__RequestVerificationToken"]').val();
		                $.ajax({
			                url: '@Url.Action("Delete","Asistentes")' + '/'+ id,
			                type: "POST",
			                traditional: true,
                            data: {
                                __RequestVerificationToken: token,
                            },
			                success: function () {
                                //Swal.fire(
                                //    'Completado!',
                                //    'El registro fue eliminado',
                                //    'success'
                                //);
                                Swal.fire({
                                  icon: 'success',
                                  title: 'Completado!',
                                  text: 'Se eliminó el registro correctamente',
                                    onClose: () => {
                                        location.reload();
                                    }

                                })
			                },
                            error: function () {
                                            Swal.fire(
                                                'Opps!',
                                                'se presento un error al eliminar el registro',
                                                'error'
                                                 )
                            }
		                });

            }
        });
    }
</script>
