@model Asistencia.Models.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strTema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strTema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strFacilitador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strFacilitador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtmFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtmFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtmDuracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtmDuracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intIdEvento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
