@model Asistencia.Models.Evento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="container">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.intIdEvento)

    <div class="form-group">
        @Html.Label("Tema")
        @Html.EditorFor(model => model.strTema, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.strTema, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Facilitador")
        @Html.EditorFor(model => model.strFacilitador, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.strFacilitador, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Lugar")
        @Html.EditorFor(model => model.strLugar, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.strLugar, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Fecha")
        @Html.EditorFor(model => model.dtmFecha, new { htmlAttributes = new { @class = "form-control", @type="date"} })
        @Html.ValidationMessageFor(model => model.dtmFecha, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Duración")
        @Html.EditorFor(model => model.dtmDuracion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.dtmDuracion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Activo")
        @Html.CheckBoxFor(model => model.bitEstado, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.bitEstado, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary"  />
        <input type="button" value="Volver" onclick="location.href='@Url.Action("Index","Eventos")'" class="btn btn-default" />
    </div>
</div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
