@model IEnumerable<Asistencia.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("Tema")
                </th>
                <th>
                    @Html.Label("Facilitador")
                </th>
                <th>
                    @Html.Label("Lugar")
                </th>
                <th>
                    @Html.Label("Fecha")
                </th>
                <th>
                    @Html.Label("Duración")
                </th>
                <th>
                    @Html.Label("Activa")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.strTema)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strFacilitador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strLugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtmFecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtmDuracion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bitEstado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Evento", "Edit", new { id = item.intIdEvento }) |
                        @*@Html.ActionLink("Detalle", "Details", new { id = item.intIdEvento }) |*@
                        @Html.ActionLink("Asistencia", "Create", "Asistentes", new { id = item.intIdEvento }, null)|
                        @Html.ActionLink("Editar asistentes", "Index", "Asistentes", new { id = item.intIdEvento }, null)|
                        <a href="http://190.0.24.13/ReportServer/Pages/ReportViewer.aspx?%2fMontessori%2fAsistencia%2fRegistroAsistencia&rs:Command=Render&intIdEvento= + @item.intIdEvento" target="_blank">Reporte</a> |
                        @Html.ActionLink("QR", "Link", new { txtQRCode = @Url.Action("Create", "Asistentes", new { id = item.intIdEvento }, this.Request.Url.Scheme) }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.intIdEvento })|

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <input type="button" value="Crear evento" onclick="location.href='@Url.Action("Create","Eventos")'" class="btn btn-primary" />
</p>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                @*alert("@ViewBag.Message");*@
                                Swal.fire(
                            'Error!',
                            '@TempData["Message"]',
                            'error'
                            );
            };
    </script>

}